workflows/GitLab_Ai_Agent.json
{
  "name": "GitLab Ai Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## Chat Input (Open-WebUI)",
        "height": 433,
        "width": 588
      },
      "id": "2dc7a682-136f-4af6-b81d-8f367d0511af",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "91ab94f8-ed45-4b22-8aba-dddde5b58078",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        80
      ],
      "webhookId": "e11ff0fb-b75f-4593-a0ab-0cf767bcec60"
    },
    {
      "parameters": {
        "content": "## Datenbank-Tabellen erstellen\nEinmalig ausführen",
        "height": 380,
        "width": 456,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        800
      ],
      "typeVersion": 1,
      "id": "ab7cca0b-0eda-47c5-ad6a-9cf732d1a254",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM document_metadata WHERE id = $1;",
        "options": {
          "queryReplacement": "={{ $('Old Files').item.json.id }}"
        }
      },
      "id": "8ba82f95-604d-46f5-b90e-384bd5c2f9e8",
      "name": "Delete Metadata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1760,
        2240
      ],
      "credentials": {
        "postgres": {
          "id": "Xu4u1zK3EKZuPCkV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c7ab7071-12a9-4c61-9127-e99d760e0299",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        288
      ],
      "id": "33ab87a3-59a0-40d3-aa1a-a7e008bacdb9",
      "name": "Webhook",
      "webhookId": "c7ab7071-12a9-4c61-9127-e99d760e0299",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zSAEZbtw1eGl44lu",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM document_metadata;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        2208
      ],
      "id": "b00e14ed-ab47-4ee9-9574-3e88774d9e5c",
      "name": "List all Files in Postgres",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "Xu4u1zK3EKZuPCkV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "6cc4fbf9-27fd-4003-8ed8-bd78bc937376",
      "name": "Check Every 10 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        2208
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "={{ $json.owner.username }}",
        "repository": "={{ $('Normalize Input').first().json.project }}",
        "returnAll": true,
        "additionalParameters": {
          "ref": "main",
          "recursive": true
        }
      },
      "type": "n8n-nodes-base.gitlab",
      "typeVersion": 1,
      "position": [
        704,
        1488
      ],
      "id": "f5dfd523-5ef6-4b95-ab65-e648413db511",
      "name": "List files",
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Inputs\nconst gitlabItems = $('Normailze Data').all().map(i => i.json);\nconst postgresRows = $('List Postgres Documents').all().map(i => i.json);\n\n// Hilfsfunktion: Zeitstempel in Millisekunden parsen\nfunction parseTimeMs(s) {\n  if (!s) return null;\n  const t = Date.parse(String(s));\n  return Number.isFinite(t) ? t : null;\n}\n\n// Build lookup: Postgres by ID (eindeutig!)\nconst pgById = new Map();\nfor (const row of postgresRows) {\n  if (!row || !row.id) continue;\n  pgById.set(row.id, {\n    id: row.id,\n    lastModifiedMs: parseTimeMs(row.last_modified),\n    raw: row,\n  });\n}\n\n// Compare GitLab items against Postgres\nconst updatedOrNew = [];\n\nfor (const file of gitlabItems) {\n  if (!file || !file.id) continue;\n  \n  // Lookup direkt über die eindeutige ID\n  const pgRec = pgById.get(file.id);\n  \n  if (!pgRec) {\n    // Neu: ID existiert nicht in Postgres\n    updatedOrNew.push({\n      json: {\n        ...file,\n        _changeReason: 'new',\n      },\n    });\n    continue;\n  }\n  \n  // ID existiert → prüfe ob geändert (via lastModified)\n  const glLMms = parseTimeMs(file.lastModified);\n  const pgLMms = pgRec.lastModifiedMs;\n  \n  let sameLM = false;\n  if (pgLMms != null && glLMms != null) {\n    // Toleranz von 1 Sekunde für Rundungsfehler\n    const diff = Math.abs(pgLMms - glLMms);\n    sameLM = diff <= 1000;\n  }\n  \n  if (!sameLM) {\n    // Geändert: lastModified unterscheidet sich\n    updatedOrNew.push({\n      json: {\n        ...file,\n        _changeReason: 'modified',\n        _debug: {\n          glLMms,\n          pgLMms,\n          diffMs: glLMms && pgLMms ? Math.abs(glLMms - pgLMms) : null,\n        },\n      },\n    });\n  }\n  // Sonst: unverändert → nicht in Output\n}\n\nreturn updatedOrNew;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        1488
      ],
      "id": "3168a27b-84db-4ab0-b938-8ee60d306578",
      "name": "Check if new files or updated files1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5cc16be5-fbbe-40e1-8522-021c4efc1212",
              "leftValue": "={{ $json.type }}",
              "rightValue": "blob",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        832,
        1488
      ],
      "id": "9ffed647-ae1e-414e-b7f5-32afa7c85dfb",
      "name": "Gitlab Files"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1696,
        1488
      ],
      "id": "c046320c-bde2-45d0-9e07-6611edb945a6",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "get",
        "owner": "={{ $json.owner }}",
        "repository": "={{ $json.project }}"
      },
      "type": "n8n-nodes-base.gitlab",
      "typeVersion": 1,
      "position": [
        400,
        1472
      ],
      "id": "285162d9-58ed-474e-bcc0-65656dd8646d",
      "name": "Get a repository",
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content || $json.data || $json.text || $json.concatenated_data || $json.markdown}}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Loop Over Items2').item.json.name }}"
              },
              {
                "name": "file_path",
                "value": "={{ $('Loop Over Items2').item.json.path }}"
              },
              {
                "name": "project",
                "value": "={{ $('Loop Over Items2').item.json.project }}"
              }
            ]
          }
        }
      },
      "id": "3c1bd0db-d92e-4783-a5d2-54277881a49a",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        3808,
        1856
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        3712,
        1552
      ],
      "id": "dee8f2dd-6fa4-4ad2-9242-5ac4401b7025",
      "name": "Postgres PGVector Store2",
      "credentials": {
        "postgres": {
          "id": "Xu4u1zK3EKZuPCkV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3808,
        2000
      ],
      "id": "b4a60719-0c27-4374-8913-436306387644",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $$\nBEGIN\n    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'documents') THEN\n        EXECUTE 'DELETE FROM documents WHERE metadata->>''file_id'' LIKE ''%' || $1 || '%''';\n    END IF;\nEND\n$$;",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1584,
        2240
      ],
      "id": "2dba11c6-8753-4132-a631-252108bd01c3",
      "name": "Delete from documents",
      "credentials": {
        "postgres": {
          "id": "Xu4u1zK3EKZuPCkV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "amazon.titan-embed-text-v2:0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAwsBedrock",
      "typeVersion": 1,
      "position": [
        3488,
        1856
      ],
      "id": "dc7275f7-c2ae-4f7c-b900-3868652d4c49",
      "name": "Embeddings AWS Bedrock2",
      "credentials": {
        "aws": {
          "id": "azjHlu1TqDYyQs88",
          "name": "AWS (IAM) account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "133bd4d8-1ea9-4cb2-a498-12590620dd84",
              "leftValue": "={{ $json.data || $json.markdown}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3552,
        1536
      ],
      "id": "b6593730-b074-47cb-9616-345d3b48a396",
      "name": "data is not empty"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Loads the complete text content of a document based on its file_id.\n\nINPUT:\n- file_id: 64-digit SHA256 hash (from List Documents or RAG hits)\n\nRETURNS:\n- document_text: Merged full text of all text sections\n\nWHEN TO USE:\n- After RAG search, if hits are fragmentary\n- After List Documents, to load complete content\n- When a file is explicitly requested\n\nWORKFLOW:\n1. Determine file_id via List Documents or RAG search\n2. Call Get File Contents with file_id\n\nDO NOT USE FOR:\n- Files only on GitLab (→ GitLab Get File)\n- Tabular evaluations (→ Query Document Rows)\n- Unknown file_ids (determine first via List Documents)",
        "operation": "executeQuery",
        "query": "SELECT \n    string_agg(text, ' ') as document_text\nFROM documents\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';",
        "options": {
          "queryReplacement": "={{ $fromAI('file_id') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        1280,
        1008
      ],
      "id": "669a35da-416b-4575-8022-4cf6f60a2536",
      "name": "Get File Contents",
      "credentials": {
        "postgres": {
          "id": "Xu4u1zK3EKZuPCkV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "topN": 10
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        1136,
        1024
      ],
      "id": "67386af2-f2af-4ccf-a0b8-8e1f4caa26ef",
      "name": "Reranker Cohere",
      "disabled": true
    },
    {
      "parameters": {
        "model": "amazon.titan-embed-text-v2:0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAwsBedrock",
      "typeVersion": 1,
      "position": [
        816,
        1024
      ],
      "id": "df7697cc-3be5-445e-b54a-84db15947462",
      "name": "AWS Bedrock Titan Embedding G2",
      "credentials": {
        "aws": {
          "id": "azjHlu1TqDYyQs88",
          "name": "AWS (IAM) account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e7b90b3-631d-4cef-b119-fe4d2bccaf46",
              "name": "output",
              "value": "={{ $if($('AI Agent').isExecuted, $('AI Agent').item.json.output, $json.text) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        64
      ],
      "id": "ff1340f9-5d34-4951-8655-000348ce81ce",
      "name": "Set output"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "23ef0ea7-e0a1-4c71-84cc-8c5f858f7cf0",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1216,
        64
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        656,
        64
      ],
      "id": "7c2775ad-4e2b-488c-a6f8-212398f46ab9",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d024dcae-9e0a-447d-80f7-ff77df1b4b90",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "### Task:",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        80
      ],
      "id": "465bdcd3-b18c-4529-8721-53771d18568a",
      "name": "If Task"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            },
            {
              "id": "87940613-c80f-450b-b708-345a8559eb35",
              "name": "gitBaseURL",
              "value": "https://git.exampl.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "51ae76bc-09ca-45d6-bccd-48642af298c6",
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        80
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Searches the RAG system to look up information in the knowledge base.\nAlways call with JSON {“input”:“<query>”.",
        "tableName": "documents",
        "topK": 20,
        "options": {}
      },
      "id": "7c2c1690-71d2-4dac-b0cb-1052bf59f1f1",
      "name": "Postgres PGVector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1024,
        864
      ],
      "credentials": {
        "postgres": {
          "id": "Xu4u1zK3EKZuPCkV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "6eb1f3a6-6071-4743-b9a9-121ab7e1c9e4",
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "application/xml",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "xml"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "99101144-2cc7-415d-895f-52f9a4798faf",
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "c8509e5a-0eed-44f3-8ea2-b3b4c8a4b4ef",
      "name": "File-Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2416,
        1472
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3104,
        1216
      ],
      "id": "46e5509f-eec4-4292-b8fb-b43ce9f64253",
      "name": "Extract from Text-File"
    },
    {
      "parameters": {
        "operation": "xml",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3104,
        1376
      ],
      "id": "7ac31e93-2c76-4d15-8077-74c4e6b695e6",
      "name": "Extract from XML-File"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5.2-chat-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        176,
        624
      ],
      "id": "c30eec6f-34f2-445d-b1e5-569b456d0bd4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iZVmc8ZeF88QeS4w",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "gpt-5.1-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        480,
        624
      ],
      "id": "5dc9e3ad-558c-426e-a5f1-37bc95287041",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "2fib0Fsn4iWUagmI",
          "name": "Azure Open AI account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "formTitle": "GitLab 2 RAG",
        "formDescription": "Gebe den Dateipfad der Datei aus dem GtiLab Projekt ein, das in das RAG-System übertragen werden soll.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URL",
              "placeholder": "https://<git-server>/<benutzername>/<project>",
              "requiredField": true
            },
            {
              "fieldLabel": "Branch",
              "placeholder": "main",
              "defaultValue": "main",
              "requiredField": true
            },
            {
              "fieldLabel": "Dateipfad",
              "placeholder": "README.md"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        48,
        1472
      ],
      "id": "364e32a7-f62f-40c4-a573-abeb109ec360",
      "name": "Submit File-Form",
      "webhookId": "085d89ca-028d-42b7-a081-8ab4c964d986"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "marco",
        "repository": "={{ $json.project }}",
        "filePath": "={{ $('Loop Over Items2').item.json.path }}",
        "additionalParameters": {
          "reference": "={{ $('Loop Over Items2').item.json.branch }}"
        }
      },
      "type": "n8n-nodes-base.gitlab",
      "typeVersion": 1,
      "position": [
        2240,
        1504
      ],
      "id": "6225b1cc-c90a-46e7-8a4e-8bb724bab423",
      "name": "Get a Projectfile",
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1685712e-8f1f-404f-8d1b-fc96c5f53049",
              "leftValue": "={{ $('Normalize Input').item.json.file }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        1472
      ],
      "id": "5dfbbe7b-543c-4010-b5f3-124bab4fd083",
      "name": "Has File?"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{ $('Normalize Input').item.json.owner }}",
        "repository": "={{ $('Normalize Input').item.json.project }}",
        "filePath": "={{ $('Normalize Input').item.json.file }}",
        "asBinaryProperty": false,
        "additionalParameters": {
          "reference": "={{ $('Normalize Input').item.json.branch }}"
        }
      },
      "type": "n8n-nodes-base.gitlab",
      "typeVersion": 1,
      "position": [
        768,
        1344
      ],
      "id": "e7e64b03-71c3-4c8f-805b-0b076b676bdd",
      "name": "Get a file",
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    project TEXT,\n    owner TEXT,\n    branch TEXT,\n    last_modified TIMESTAMPTZ,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        32,
        1008
      ],
      "id": "76a33df7-9c2d-4512-9fd8-6881839e4f0b",
      "name": "Create Document Metadata Table",
      "credentials": {
        "postgres": {
          "id": "Xu4u1zK3EKZuPCkV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "7ed6e3aa-bf9b-4dda-9e9d-f5d0e6308a5e",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        800,
        640
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "Xu4u1zK3EKZuPCkV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Get a repository').item.json._links.self }}/repository/commits?path={{ encodeURIComponent($json.file_path || $json.path) }}&per_page=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "={{ $('Normalize Input').item.json.branch }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        1488
      ],
      "id": "26c6cb20-107d-4f2c-8021-522e4be4ed07",
      "name": "Get lastModified",
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "56fd64dd-1faf-426f-b714-cb0762e5a472",
              "name": "id",
              "value": "={{ ($('Normalize Input').item.json.project + '/' + $if($('Gitlab Files').isExecuted, $('Gitlab Files').item.json.path, $('Get a file').item.json.file_path)).hash('sha256') }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-0001-0000-0000-000000000001",
              "name": "commit_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-0002-0000-0000-000000000002",
              "name": "blob_id",
              "value": "={{ $if($('Gitlab Files').isExecuted, $('Gitlab Files').item.json.id, $('Get a file').item.json.blob_id) }}",
              "type": "string"
            },
            {
              "id": "471962f9-298e-40fa-9705-b5e9b7d525f2",
              "name": "name",
              "value": "={{ $if($('Gitlab Files').isExecuted, $('Gitlab Files').item.json.name, $('Get a file').item.json.file_name) }}",
              "type": "string"
            },
            {
              "id": "52268ae7-aecc-4fc9-9c7c-2c06ec89842c",
              "name": "type",
              "value": "={{ $if($('Gitlab Files').isExecuted, $('Gitlab Files').item.json.type, 'blob') }}",
              "type": "string"
            },
            {
              "id": "e2141640-9204-4e32-a3dd-3c73f83e23ea",
              "name": "path",
              "value": "={{ $if($('Gitlab Files').isExecuted, $('Gitlab Files').item.json.path, $('Get a file').item.json.file_path) }}",
              "type": "string"
            },
            {
              "id": "e087b1f7-2a7d-45b3-9f99-a9248bdbbb6b",
              "name": "project",
              "value": "={{ $('Normalize Input').item.json.project }}",
              "type": "string"
            },
            {
              "id": "cba1e5f6-4e5c-4abf-8b2c-6b22ba134fef",
              "name": "project_id",
              "value": "={{ $('Get a repository').item.json.id }}",
              "type": "string"
            },
            {
              "id": "052f7455-05b6-43c1-822e-cdf8b320b71f",
              "name": "repo_self",
              "value": "={{ $('Get a repository').item.json._links.self }}",
              "type": "string"
            },
            {
              "id": "51c94a71-be16-4853-b1d5-d577115226d5",
              "name": "lastModified",
              "value": "={{ $json.committed_date }}",
              "type": "string"
            },
            {
              "id": "54a3da30-dfdb-4e79-9da2-556f76048689",
              "name": "owner",
              "value": "={{ $('Normalize Input').item.json.owner }}",
              "type": "string"
            },
            {
              "id": "87afc7d5-bbb4-4819-83c7-0e296da14d3e",
              "name": "branch",
              "value": "={{ $('Normalize Input').item.json.branch }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        1488
      ],
      "id": "ccf3328c-7d76-4ccc-9ac4-30c0bcc42729",
      "name": "Normailze Data"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Select rows from a table in Postgres Lists all documents in the RAG system. Use to determine file_id or check file existence.\n\nRETURN:\n- id: 64-digit SHA256 hash (= file_id)\n- title: File name\n- url: File path in the repository\n- project: Project name (ai-lab, etc.)\n- last_modified: Modification date\n- schema: Table schema (CSV/Excel only)\n\nWORKFLOW:\n1. List Documents → find file_id\n2. Get File Contents → load full text\n   OR Query Document Rows → SQL on table data\n\nFOR FILES WITH THE SAME NAME: Use project and url to differentiate.\n\nNOT for GitLab-only files (→ GitLab List Folders) or content search (→ RAG search).",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        1328,
        864
      ],
      "id": "c0e323f1-a61c-439c-964f-ccbb11b51dba",
      "name": "List Documents",
      "credentials": {
        "postgres": {
          "id": "Xu4u1zK3EKZuPCkV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen.qwen3-32b-v1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        800,
        224
      ],
      "id": "b9e112e8-1076-4acd-99ea-126c0cb127b3",
      "name": "LLM Tasker Qwen3 32b (dense)",
      "credentials": {
        "aws": {
          "id": "azjHlu1TqDYyQs88",
          "name": "AWS (IAM) account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 🦊 Tools für den AI Agenten",
        "height": 376,
        "width": 1812,
        "color": 5
      },
      "id": "cc050119-5eb2-417f-87f0-0a932036fbe4",
      "name": "Sticky Note - GitLab",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        800
      ]
    },
    {
      "parameters": {
        "content": "## AI Output (Open-WebUI)",
        "height": 225,
        "width": 396
      },
      "id": "0de43f83-ef97-4d5e-b38d-e32e98451c6b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Tasks (Open-WebUI)",
        "height": 368,
        "width": 368,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        0
      ],
      "typeVersion": 1,
      "id": "5ca1e7b0-af5d-4c3d-a8e1-aa422632a587",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## 🎯AI Tool Agent",
        "height": 400,
        "width": 368,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        384
      ],
      "typeVersion": 1,
      "id": "c246eb32-d5c5-46de-bb72-b93160aa6907",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "toolDescription": "Creates a new branch in a GitLab repository.\n\nUSE FOR:\n- Feature branches: feature/<description>\n- Bugfix branches: fix/<description>\n- Documentation: docs/<description>\n\nPARAMETERS:\n- project_id: Numeric project ID (required)\n- branch: Name of the new branch (required)\n- source_branch: Source branch (required), usually “main”\n\nBRANCH PARAMETER (STRICT)\n- `branch`, `source_branch` MUST be plain text\n- NEVER URL-encode slash '/' in branch names.\n\nPARAMETER-TYPEN (STRICT)\n- project_id MUST be an INTEGER (numeric GitLab project ID), e.g. 6\n- Project names/paths (e.g. \"ai-lab\") are INVALID and must NOT be used as project_id\n- If project_id is unknown: FIRST call \"GitLab List Projects\" to resolve the numeric ID\n\nWORKFLOW:\n1. GitLab List Branches → check if branch exists\n2. GitLab Create Branch → create new branch\n3. WAIT for confirmation of success with branch details\n\nNEVER call without first checking with List Branches.",
        "method": "POST",
        "url": "={{ $('Set Input').item.json.gitBaseURL }}/api/v4/projects/{{ $fromAI('project_id', 'Die Projekt-ID (numerisch)', 'number') }}/repository/branches",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={ \"branch\": \"{{ $fromAI('branch', 'Plain Text, Name des neuen Branches', 'string') }}\", \"ref\": \"{{ $fromAI('source_branch', 'Plain Text, Quell-Branch von dem abgezweigt wird (z.B. main, master, develop)', 'string') }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1472,
        864
      ],
      "id": "4c72fdc9-2a58-4f64-a331-0b7619e52a7e",
      "name": "GitLab Create Branch",
      "description": "Erstellt einen neuen Branch in einem GitLab-Repository. Benötigt: project_id, branch_name (neuer Branch), source_branch (Quell-Branch wie main/master).",
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Lists all branches of a GitLab repository.\n\nUSE FOR:\n- Overview of existing branches before making changes\n- Checking whether a branch already exists\n- Finding feature/fix branches\n\nPARAMETERS:\n- project_id: Numeric project ID (required), e.g., 1 for ai-lab\n- search_term: Optional, filters branches by name\n\nPARAMETER-TYPEN (STRICT)\n- project_id MUST be an INTEGER (numeric GitLab project ID), e.g. 6\n- Project names/paths (e.g. \"ai-lab\") are INVALID and must NOT be used as project_id\n- If project_id is unknown: FIRST call \"GitLab List Projects\" to resolve the numeric ID\n\nRETURN: List with branch names, last commit, protected status.\n\nALWAYS CALL FIRST before creating a new branch.",
        "url": "={{ $('Set Input').item.json.gitBaseURL }}/api/v4/projects/{{ $fromAI('project_id', 'Die Projekt-ID (numerisch) oder URL-encoded Pfad', 'number') }}/repository/branches",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={ \"search\": \"{{ $fromAI('search_term', 'Optional: Suchbegriff zum Filtern der Branches (leer lassen für alle)', 'string') }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1440,
        1008
      ],
      "id": "65a919e7-9b69-434e-a4b7-8a418db579ab",
      "name": "GitLab List Branches",
      "description": "Listet alle Branches eines GitLab-Repositories auf. Optional mit Suchfilter.",
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Reads the contents of a file from the GitLab repository.\n\nUSE FOR:\n- Loading the current file status before changes\n- Retrieving file contents for analysis\n- Checking whether a file exists\n\nPARAMETERS:\n- project_id: Numeric project ID (required)\n- file_path_encoded: URL-encoded path (required), e.g., src%2Findex.js\n- branch: Branch name (required)\n\nBRANCH PARAMETER (STRICT)\n- The `branch` parameter MUST be plain text, e.g. feature/srp-user-management\n- The `file_path_encoded` MUST be url encode, e.g. / becomes %2F, spaces become %20\n- NEVER URL-encode branch names (do not use feature%2Fsrp-user-management)\nURL ENCODING applies ONLY to `file_path_encoded`.\n\nPARAMETER-TYPEN (STRICT)\n- project_id MUST be an INTEGER (numeric GitLab project ID), e.g. 6\n- Project names/paths (e.g. \"ai-lab\") are INVALID and must NOT be used as project_id\n- If project_id is unknown: FIRST call \"GitLab List Projects\" to resolve the numeric ID\n\nRETURN: File content (Base64-encoded), file name, size, last commit.\n\nDIFFERENCE FROM RAG:\n- GitLab Get File: Current status directly from the server\n- Get File Contents: Indexed version from RAG database",
        "url": "={{ $('Set Input').item.json.gitBaseURL }}/api/v4/projects/{{ $fromAI('project_id', 'Die Projekt-ID (numerisch)', 'number') }}/repository/files/{{ $fromAI('file_path_encoded', 'URL-encoded Dateipfad (z.B. src%2Findex.js für src/index.js)', 'string') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={ \"ref\": \"{{ $fromAI('branch', 'Plain Text, Branch-Name von dem die Datei gelesen werden soll', 'string') }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1744,
        1008
      ],
      "id": "53627b53-7d75-40b8-af8d-131e72bb0d77",
      "name": "GitLab Get File",
      "description": "Liest eine Datei aus dem Repository. Der Inhalt ist Base64-encoded. Dateipfad muss URL-encoded sein (/ wird zu %2F).",
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Creates a new issue in the GitLab project.\n\nUSE FOR:\n- Documenting bugs\n- Creating feature requests\n- Tracking tasks\n\nPARAMETERS:\n- project_id: Numeric project ID (required)\n- issue_title: Clear, descriptive title (required)\n- issue_description: Detailed description, Markdown (optional)\n- labels: Comma-separated, e.g., “bug,urgent” (optional)\n\nPARAMETER-TYPS (STRICT)\n- project_id MUST be an INTEGER (numeric GitLab project ID), e.g. 6\n- Project names/paths (e.g. \"ai-lab\") are INVALID and must NOT be used as project_id\n- If project_id is unknown: FIRST call \"GitLab List Projects\" to resolve the numeric ID\n\nDESCRIPTION SHOULD INCLUDE:\n- Context/background\n- Expected vs. actual behavior (for bugs)\n- Steps to reproduce (for bugs)\n- Acceptance criteria (for features)\n\nRETURN: Issue ID, URL, created issue object.",
        "method": "POST",
        "url": "={{ $('Set Input').item.json.gitBaseURL }}/api/v4/projects/{{ $fromAI('project_id', 'Die Projekt-ID (numerisch)', 'number') }}/issues",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={ \"Content-Type\": \"application/json\" }",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"title\": \"{{ $fromAI('issue_title', 'Titel des Issues', 'string') }}\", \"description\": \"{{ $fromAI('issue_description', 'Ausführliche Beschreibung des Issues (Markdown unterstützt)', 'string') }}\", \"labels\": \"{{ $fromAI('labels', 'Optional: Komma-separierte Labels (z.B. bug,urgent)', 'string') }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2064,
        1008
      ],
      "id": "37f495b9-e1e1-48d9-96e7-e2c6f600714b",
      "name": "GitLab Create Issue",
      "description": "Erstellt ein neues Issue im GitLab-Projekt. Unterstützt Titel, Beschreibung (Markdown) und Labels.",
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Lists issues in a GitLab project.\n\nUSE FOR:\n- Overview of open tasks/bugs\n- Search for specific issues\n- Check project status\n\nPARAMETERS:\n- project_id: Numeric project ID (required)\n- state: “opened,” “closed,” or “all” (Optional)\n- search_term: Search term for title/description (Optional)\n\nPARAMETER-TYPS (STRICT)\n- project_id MUST be an INTEGER (numeric GitLab project ID), e.g. 6\n- Project names/paths (e.g. \"ai-lab\") are INVALID and must NOT be used as project_id\n- If project_id is unknown: FIRST call \"GitLab List Projects\" to resolve the numeric ID\n\nRETURN: List with issue ID, title, status, labels, author, date.\n\nDefault: Returns up to 20 issues.",
        "url": "={{ $('Set Input').item.json.gitBaseURL }}/api/v4/projects/{{ $fromAI('project_id', 'Die Projekt-ID (numerisch)', 'number') }}/issues",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={ \"state\": \"{{ $fromAI('state', 'Filter: opened, closed oder all', 'string') }}\", \"search\": \"{{ $fromAI('search_term', 'Optional: Suchbegriff', 'string') }}\", \"per_page\": \"20\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1936,
        864
      ],
      "id": "25391c47-df7a-4f32-8be4-a0f17d6142c5",
      "name": "GitLab List Issues",
      "description": "Listet Issues eines Projekts auf. Filterbar nach Status (opened/closed/all) und Suchbegriff.",
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Creates a merge request from one branch to another.\n\nUSE FOR:\n- Submitting completed changes for review\n- Integrating feature branch into main\n\nPARAMETERS:\n- project_id: Numeric project ID (required)\n- source_branch: Branch with changes (required)\n- target_branch: Target branch, usually “main” (required)\n- mr_title: Meaningful title (required)\n- mr_description: Description of changes, Markdown (optional)\n\nBRANCH PARAMETER (STRICT)\n-  `source_branch`, `target_branch` MUST be plain text\n- NEVER URL-encode slash '/' in branch names.\n\nPARAMETER-TYPS (STRICT)\n- project_id MUST be an INTEGER (numeric GitLab project ID), e.g. 6\n- Project names/paths (e.g. \"ai-lab\") are INVALID and must NOT be used as project_id\n- If project_id is unknown: FIRST call \"GitLab List Projects\" to resolve the numeric ID\n\nWORKFLOW:\n1. Commit all changes to feature branch\n2. GitLab Create Merge Request\n3. Share MR URL with user\n\nDESCRIPTION SHOULD INCLUDE:\n- Summary of changes\n- Reference to issues (if applicable)\n- Test notes\n\nRETURN: MR ID, MR URL, status.",
        "method": "POST",
        "url": "={{ $('Set Input').item.json.gitBaseURL }}/api/v4/projects/{{ $fromAI('project_id', 'Die Projekt-ID (numerisch)', 'number') }}/merge_requests",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={ \"Content-Type\": \"application/json\" }",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"source_branch\": \"{{ $fromAI('source_branch', 'Plain Text, Quell-Branch (der Branch mit den Änderungen)', 'string') }}\", \"target_branch\": \"{{ $fromAI('target_branch', 'Plain Text, Ziel-Branch (z.B. main, master)', 'string') }}\", \"title\": \"{{ $fromAI('mr_title', 'Titel des Merge Requests', 'string') }}\", \"description\": \"{{ $fromAI('mr_description', 'Optional: Beschreibung des MR (Markdown)', 'string') }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2112,
        864
      ],
      "id": "1db3fb70-1943-4e20-82c6-8cafccc984fe",
      "name": "GitLab Create Merge Request",
      "description": "Erstellt einen Merge Request von einem Branch in einen anderen. Ideal nach Abschluss von Änderungen auf einem Feature-Branch.",
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Lists files and folders in a repository directory.\n\nUSE FOR:\n- Exploring project structure\n- Checking whether a file/folder exists\n- Listing available files in a directory\n\nPARAMETERS:\n- project_id: Numeric project ID (required)\n- branch: Branch name (required)\n- directory_path: Subdirectory (empty = root)\n- recursive: “true” for all subfolders, “false” for current level\n\nBRANCH PARAMETER (STRICT)\n- The `branch` parameter MUST be plain text (e.g. feature/srp-user-management)\n- NEVER URL-encode branch names.\n\nPARAMETER-TYPEN (STRICT)\n- project_id MUST be an INTEGER (numeric GitLab project ID), e.g. 6\n- Project names/paths (e.g. \"ai-lab\") are INVALID and must NOT be used as project_id\n- If project_id is unknown: FIRST call \"GitLab List Projects\" to resolve the numeric ID\n\nRETURN: List with name, path, type (blob/tree).\n\nFor file content, use GitLab Get File afterwards.",
        "url": "={{ $('Set Input').item.json.gitBaseURL }}/api/v4/projects/{{ $fromAI('project_id', 'Die Projekt-ID (numerisch)', 'number') }}/repository/tree",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={ \"ref\": \"{{ $fromAI('branch', 'Plain Text, Branch-Name', 'string') }}\", \"path\": \"{{ $fromAI('directory_path', 'Optional: Unterverzeichnis-Pfad (leer für Root)', 'string') }}\", \"recursive\": \"{{ $fromAI('recursive', 'true für rekursive Auflistung, false für nur aktuelle Ebene', 'string') }}\", \"per_page\": \"100\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1600,
        1008
      ],
      "id": "2dce4c04-9ca0-4d07-a83c-d42510d34033",
      "name": "GitLab List Folders",
      "description": "Listet Dateien und Ordner in einem Repository-Verzeichnis auf. Kann rekursiv alle Dateien anzeigen.",
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Displays the commit history of a branch.\n\nUSE FOR:\n- Tracking recent changes\n- Finding commit SHAs for reference\n- Checking who made changes and when\n\nPARAMETERS:\n- project_id: Numeric project ID (required)\n- branch: Branch name (required)\n- limit: Number of commits (default: 20)\n\nBRANCH-PARAMETER (STRICT)\n- `branch` MUST be plain text (e.g. feature/srp-user-management), never URL-encoded.\n\nPARAMETER-TYPEN (STRICT)\n- project_id MUST be an INTEGER (numeric GitLab project ID), e.g. 6\n- Project names/paths (e.g. \"ai-lab\") are INVALID and must NOT be used as project_id\n- If project_id is unknown: FIRST call \"GitLab List Projects\" to resolve the numeric ID\n\nRETURN: List with commit SHA, author, date, message.\n\nUseful for verifying whether your own commits were successful.",
        "url": "={{ $('Set Input').item.json.gitBaseURL }}/api/v4/projects/{{ $fromAI('project_id', 'Die Projekt-ID (numerisch)', 'number') }}/repository/commits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={ \"ref_name\": \"{{ $fromAI('branch', 'Plain Text, Branch-Name', 'string') }}\", \"per_page\": \"{{ $fromAI('limit', 'Anzahl der Commits (Standard: 20)', 'string') }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1616,
        864
      ],
      "id": "8cab1f46-b345-444d-8f62-8fa54ad03c74",
      "name": "GitLab List Commits",
      "description": "Zeigt die Commit-Historie eines Branches an. Nützlich um den aktuellen Stand zu verstehen.",
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Lists all visible GitLab projects with IDs.\n\nUSE FOR:\n- Determining project ID (important for all other GitLab tools)\n- Overviewing available projects\n- Retrieving project details\n\nPARAMETERS:\n- membership: “true” for own, “false” for all visible (optional)\n\nRETURN: List with project_id, name, path, description, default_branch.\n\nIMPORTANT: The project_id is required for ALL other GitLab tools",
        "url": "={{ $('Set Input').item.json.gitBaseURL }}/api/v4/projects",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "membership",
              "value": "={{ $fromAI('membership', 'true für nur eigene Projekte, false für alle sichtbaren', 'string') }}"
            },
            {
              "name": "simple",
              "value": "true"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2288,
        864
      ],
      "id": "61f8c6c1-c3d0-4aad-a6ce-8bec62a5c46e",
      "name": "GitLab List Projects",
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Lists users of the GitLab server.\n\nUSE FOR:\n- Finding available users for assignments\n- Determining user IDs\n- Team overview\n\nPARAMETERS:\n- No mandatory parameters\n- Returns active users by default\n\nRETURN: List with user ID, username, name, status.\n\nNOTE: Full list may require admin rights.",
        "url": "={{ $('Set Input').item.json.gitBaseURL }}/api/v4/users",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "active",
              "value": "true"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2224,
        1008
      ],
      "id": "01c19c8d-d9d9-436c-b1c6-815ec81b0c6f",
      "name": "GitLab List Users",
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Alternative AI-Modelle",
        "height": 240,
        "width": 624,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        544
      ],
      "typeVersion": 1,
      "id": "7d5d08da-f1cf-4f93-b741-40656538d8d0",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "toolDescription": "Updates an existing file in the repository with a commit.\n\nPARAMETERS:\n- project_id: Numeric project ID (required)\n- file_path_encoded: URL-encoded path (required)\n- branch: Target branch (required) - NEVER main/master!\n- content: New file content as plain text (required)\n- commit_message: Format “[AI agent] <type>: <description>” (required)\n\nBRANCH PARAMETER (STRICT)\n- `branch` MUST be plain text\n- NEVER URL-encode slash '/' in branch names.\n\nPARAMETER-TYPS (STRICT)\n- project_id MUST be an INTEGER (numeric GitLab project ID), e.g. 6\n- Project names/paths (e.g. \"ai-lab\") are INVALID and must NOT be used as project_id\n- If project_id is unknown: FIRST call \"GitLab List Projects\" to resolve the numeric ID\n\nWORKFLOW (STRICT):\n1. GitLab Get File → load current status\n2. Prepare changes and SHOW user\n3. WAIT for explicit confirmation\n4. ONLY THEN call up the tool\n5. Check success: Commit SHA in response?\n\nNEVER:\n- Without first loading the file\n- Without user confirmation\n- On main/master branch\n\nNOTE: This endpoint may not return a commit SHA. If SHA is required, call GitLab List Commits (limit=1) after success.\n\nIf you get the error “reference does not point to expected object”:\n→ Reload the file and try again.",
        "method": "PUT",
        "url": "={{ $('Set Input').item.json.gitBaseURL }}/api/v4/projects/{{ Math.trunc($fromAI('project_id', 'Die Projekt-ID (numerisch). PFLICHT: Ganzzahl, z.B. 6', 'number')) }}/repository/files/{{ $fromAI('file_path_encoded', 'URL-encoded Dateipfad (z.B. src%2Findex.js)', 'string') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={ \"Content-Type\": \"application/json\" }",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { branch: $fromAI('branch', 'Plain Text. Ziel-Branch, z.B. feature/srp-user-management (NICHT URL-encoded)', 'string'), content: $fromAI('content', 'Neuer Inhalt der Datei (Plain Text)', 'string'), commit_message: $fromAI('commit_message', 'PFLICHT. Format: [AI agent] <type>: <beschreibung>. Beispiel: [AI agent] fix: handle null pointer', 'string') } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1776,
        864
      ],
      "id": "23631058-7574-419b-85b7-c7ed4016665b",
      "name": "GitLab Update File",
      "description": "Aktualisiert eine existierende Datei im Repository (Einchecken). Erstellt einen Commit mit der Änderung.",
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Creates a new file in the repository with a commit.\n\nPARAMETERS:\n- project_id: Numeric project ID (required)\n- file_path_encoded: URL-encoded path (required)\n- branch: Target branch (required) - NEVER main/master!\n- content: File content as plain text (required)\n- commit_message: Format “[AI agent] <type>: <description>” (required)\n\nBRANCH PARAMETER (STRICT)\n- `branch` MUST be plain text\n- NEVER URL-encode slash '/' in branch names.\n\nPARAMETER-TYPS (STRICT)\n- project_id MUST be an INTEGER (numeric GitLab project ID), e.g. 6\n- Project names/paths (e.g. \"ai-lab\") are INVALID and must NOT be used as project_id\n- If project_id is unknown: FIRST call \"GitLab List Projects\" to resolve the numeric ID\n\nWORKFLOW (STRICT):\n1. Ask user for confirmation\n2. WAIT for explicit “Yes” / “Confirmed”\n3. ONLY THEN call up the tool\n4. Check success: Commit SHA in response?\n\nNEVER:\n- Call up without user confirmation\n- Create on main/master branch\n- Claim file was created without calling up the tool\n\nNOTE: This endpoint may not return a commit SHA. If SHA is required, call GitLab List Commits (limit=1) after success.\n\nIf successful: Inform the user of the commit SHA.\nIf there is an error: Show the error message to the user.",
        "method": "POST",
        "url": "={{ $('Set Input').item.json.gitBaseURL }}/api/v4/projects/{{ Math.trunc($fromAI('project_id', 'Die Projekt-ID (numerisch). PFLICHT: Ganzzahl, z.B. 6', 'number')) }}/repository/files/{{ $fromAI('file_path_encoded', 'URL-encoded Dateipfad (z.B. src%2Findex.js)', 'string') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={ \"Content-Type\": \"application/json\" }",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { branch: $fromAI('branch', 'Plain Text. Ziel-Branch, z.B. feature/srp-user-management (NICHT URL-encoded)', 'string'), content: $fromAI('content', 'Inhalt der neuen Datei (Plain Text)', 'string'), commit_message: $fromAI('commit_message', 'PFLICHT. Format: [AI agent] <type>: <beschreibung>. Beispiel: [AI agent] feat: add admin endpoints', 'string') } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1888,
        1008
      ],
      "id": "4e82cd48-7ab0-4824-8548-75360007a7d3",
      "name": "Gitlab Create File",
      "description": "Erstellt eine neue Datei im Repository mit einem Commit. Dateipfad muss URL-encoded sein.",
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai.gpt-oss-120b-1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        16,
        624
      ],
      "id": "28904b86-02af-4c1a-8220-382bb3f13deb",
      "name": "AWS Bedrock EU Anthropic Claude Opus 4.5",
      "credentials": {
        "aws": {
          "id": "azjHlu1TqDYyQs88",
          "name": "AWS (IAM) account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-5-20251101",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        320,
        624
      ],
      "id": "df62a703-8ace-4fca-8f19-9f687fd6754b",
      "name": "Anthropic Chat Model",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Add Files to RAG",
        "height": 944,
        "width": 4080,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1200
      ],
      "typeVersion": 1,
      "id": "9a495a67-b66f-4a8e-b5ce-573f2ea43212",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77bcb33e-a9e8-4c75-be38-e818ae640a43",
              "name": "owner",
              "value": "={{ $json.URL.match(/https?:\\/\\/[^/]+\\/([^/]+)\\//)[1] }}",
              "type": "string"
            },
            {
              "id": "599c5e77-4fe4-45ea-bf48-8cc5e70d8042",
              "name": "project",
              "value": "={{ $json.URL.match(/https?:\\/\\/[^/]+\\/[^/]+\\/([^/]+)/)[1] }}",
              "type": "string"
            },
            {
              "id": "5f16e050-29c6-4322-ad95-fbc9099a9884",
              "name": "file",
              "value": "={{ $json.Dateipfad }}",
              "type": "string"
            },
            {
              "id": "3f5de861-c9d3-4884-a7d9-7d15f63a6c5f",
              "name": "branch",
              "value": "={{ $json.Branch }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        1472
      ],
      "id": "aba24668-6933-4809-969f-d1c5432efa06",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "project,owner,branch",
        "options": {
          "removeOtherFields": true
        }
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        432,
        2320
      ],
      "id": "81a87c88-f629-4b7a-af30-768b6b7b5fd7",
      "name": "Get Project/Owner/Branch"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": "={{ $json.owner }}",
        "repository": "={{ $json.project }}",
        "returnAll": true,
        "additionalParameters": {
          "ref": "={{ $json.branch }}",
          "recursive": true
        }
      },
      "type": "n8n-nodes-base.gitlab",
      "typeVersion": 1,
      "position": [
        624,
        2320
      ],
      "id": "70c1405b-e89a-4555-909d-8b39ea00c29c",
      "name": "Get Filelist from Server",
      "executeOnce": false,
      "credentials": {
        "gitlabApi": {
          "id": "Cq2SfGhbsBeq6YlM",
          "name": "GitLab account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36e4d206-cb27-431c-9746-bd6235dc6b28",
              "name": "owner",
              "value": "={{ $('Get Project/Owner/Branch').item.json.owner }}",
              "type": "string"
            },
            {
              "id": "bfd037be-1156-4602-afc4-3ccde2a42743",
              "name": "project",
              "value": "={{ $('Get Project/Owner/Branch').item.json.project }}",
              "type": "string"
            },
            {
              "id": "a06f2475-44c1-4d9e-949d-a7e154a358fb",
              "name": "branch",
              "value": "={{ $('Get Project/Owner/Branch').item.json.branch }}",
              "type": "string"
            },
            {
              "id": "0ed7c410-1b4f-4712-9ba9-ba5d8072ae86",
              "name": "path",
              "value": "={{ $json.path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        2320
      ],
      "id": "e0158a7d-eca9-4b2a-8dcd-a98f75a17bae",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b7c0ce51-ee21-4e68-86e2-72e78e1c0f30",
              "leftValue": "={{ $json.type }}",
              "rightValue": "blob",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        784,
        2320
      ],
      "id": "72baf597-90c0-4bee-a5db-46172896e157",
      "name": "Files Only"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "url",
              "field2": "path"
            },
            {
              "field1": "owner",
              "field2": "owner"
            },
            {
              "field1": "project",
              "field2": "project"
            },
            {
              "field1": "branch",
              "field2": "branch"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1104,
        2224
      ],
      "id": "294229e4-1a44-4cf4-9a6b-8ce73434ff67",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        2224
      ],
      "id": "02f578cd-1e1c-4209-9602-ad3bf61d6d29",
      "name": "Old Files"
    },
    {
      "parameters": {
        "content": "## Alte Dateien aus der Datenbank entfernen",
        "height": 320,
        "width": 1936,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        2160
      ],
      "typeVersion": 1,
      "id": "3139ad1c-0039-4837-8f8b-b144673def8d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Loop Over Items2').item.json.id }}",
            "title": "={{ $('Loop Over Items2').item.json.name }}",
            "url": "={{ $('Loop Over Items2').item.json.path }}",
            "last_modified": "={{ $('Loop Over Items2').item.json.lastModified }}",
            "project": "={{ $('Loop Over Items2').item.json.project }}",
            "owner": "={{ $('Loop Over Items2').item.json.owner }}",
            "branch": "={{ $('Loop Over Items2').item.json.branch }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "last_modified",
              "displayName": "last_modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "project",
              "displayName": "project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "owner",
              "displayName": "owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "branch",
              "displayName": "branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2080,
        1504
      ],
      "id": "e1cea339-7199-428b-8a34-681f715ce963",
      "name": "Insert Document Metadata",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "Xu4u1zK3EKZuPCkV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $$\nBEGIN\n    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'documents') THEN\n        EXECUTE 'DELETE FROM documents WHERE metadata->>''file_id'' LIKE ''%' || $1 || '%''';\n    END IF;\nEND\n$$;",
        "options": {
          "queryReplacement": "={{ $('Loop Over Items2').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1904,
        1504
      ],
      "id": "787e63e8-2dea-4c17-855f-b057bf6a1cf9",
      "name": "Delete Old Documents",
      "credentials": {
        "postgres": {
          "id": "Xu4u1zK3EKZuPCkV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM document_metadata;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1312,
        1488
      ],
      "id": "4680bcca-a0c2-4d28-8db7-3e77f34ab856",
      "name": "List Postgres Documents",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "Xu4u1zK3EKZuPCkV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "hl": "de"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        880,
        864
      ],
      "id": "d13ba2e3-a18c-4c0c-bd92-1f9794c9826c",
      "name": "WebSearch (SearchApi)",
      "credentials": {
        "serpApi": {
          "id": "6MuhEooCVMq7Nam9",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XAdGYq-gfg3cXykIBed8w",
          "mode": "list",
          "cachedResultUrl": "/workflow/XAdGYq-gfg3cXykIBed8w",
          "cachedResultName": "OCR-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2672,
        1584
      ],
      "name": "Call OCR-Workflow",
      "id": "70ee787a-3c8c-4bbd-9af5-7edb2669c583"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        3664,
        1856
      ],
      "id": "a542e110-252c-4adb-b941-ffcd2f09ded9",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "BSseGqFf8xesTraE",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:v1.5"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        992,
        1024
      ],
      "id": "fb55653e-c714-4166-8a38-e1695b525820",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "BSseGqFf8xesTraE",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        656,
        224
      ],
      "id": "bc592818-9568-4971-96a5-ce168f91149b",
      "name": "llama3.2:3b",
      "credentials": {
        "ollamaApi": {
          "id": "BSseGqFf8xesTraE",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        3344,
        1856
      ],
      "id": "1143cd80-6818-4ac7-804e-cf1436d2511c",
      "name": "embed-v-4-",
      "credentials": {
        "azureOpenAiApi": {
          "id": "2fib0Fsn4iWUagmI",
          "name": "Azure Open AI account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE EXTENSION vector;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        256,
        848
      ],
      "id": "a814cfd5-9a9a-4d60-8ad7-112d729e5f1c",
      "name": "Create Vector-Extension",
      "credentials": {
        "postgres": {
          "id": "Xu4u1zK3EKZuPCkV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        656,
        1024
      ],
      "id": "d5952cc5-04e0-4f51-b01b-e95d98ac943f",
      "name": "embed-v-4-0",
      "credentials": {
        "azureOpenAiApi": {
          "id": "2fib0Fsn4iWUagmI",
          "name": "Azure Open AI account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE document_metadata;\nTRUNCATE documents;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        256,
        1008
      ],
      "id": "0f825106-b9f1-4f94-a392-d5a674c545d3",
      "name": "Clear Tables",
      "credentials": {
        "postgres": {
          "id": "Xu4u1zK3EKZuPCkV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2896,
        1536
      ],
      "id": "b4ca2d42-e8ca-4561-a29d-70feff83e52a",
      "name": "Insert Metadata"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id, markdown",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3104,
        1536
      ],
      "id": "8c832d31-1ceb-49a5-8366-4ef097569825",
      "name": "Split Out"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        656,
        640
      ],
      "id": "e342f670-9ece-4a5f-bd07-d9b446c8f1bd",
      "name": "gpt-oss:20b",
      "credentials": {
        "ollamaApi": {
          "id": "BSseGqFf8xesTraE",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput + \"\\n\\n<context>\\n\" + ($json.rag_context || \"\") + \"\\n</context>\" }}",
        "options": {
          "systemMessage": "You are a helpYou are a SINGLE AI AGENT for professional software development.\n\nYou combine:\n- Planning\n- Research (RAG + Web)\n- Code creation\n- GitLab interaction (read/write/commit)\n\nThere are NO other agents.\nThere is NO chat archive.\nThere is NO archive search.\n\nABSOLUTE RULES (NON-NEGOTIABLE)\n========================\n1) SOURCE OF TRUTH (HART)\n- Chat context is NEVER the current project status.\n- The order is strict:\n  1. GitLab (current status)\n  2. RAG (snapshot/knowledge base)\n  3. WebSearch (references)\n  4. Own knowledge (conceptual only)\n\n- If project / branch / file / path is mentioned:\n  → GitLab tool MUST be used.\n- If snapshot/documentation is sought:\n  → Use RAG tools.\n- If standards / RFC / official documentation are missing:\n  → Use WebSearch.\n\nGuessing is PROHIBITED.\n\n1.1) RAG – IMAGE RENDERING (MANDATORY)\n- If the RAG system returns image links (e.g. \"https://s3.ai-lab.raspilab.de/n8n/image_1757270371195_m5323a.png\"):\n  → ALWAYS render them in the chat as Markdown images, never as plain text URLs.\n- Format is mandatory:\n  ![RAG Image](<FULL_IMAGE_URL>)\n- The images MUST appear in the correct position relative to the surrounding text.\n  → Preserve the original order exactly:\n    Text + Image → Text + Image → ...\n- NEVER move all images to the beginning or end of the message.\n- URL integrity is mandatory:\n  → Do NOT remove or shorten any query parameters or URL parts.\n  → Always output the full URL exactly as provided (including any URL parameters).\n\n2) CODE CREATION (CODEGEN RULES – MANDATORY)\nYou MAY write code yourself.\nYou MUST comply with ALL of the following rules:\n\n2.1) Sources & Style\n- No copy-paste from external sources.\n- External content is for REFERENCE only.\n- Existing project style must be strictly adhered to.\n- Images and documents from the RAG system or GitLab server are not external sources.\n\n2.2) Source priority (descending)\n1. Standards / specifications (RFC, W3C, ECMA, NIST)\n2. Official documentation (Qt, OpenSSL, language specs)\n3. Technical literature / papers\n4. Established community documents\n5. Forums (only supplementary)\n\n2.3) Mandatory header for EVERY new file\n/**\n * @file <filename>\n * @brief <short description>\n * @references\n *   - <source 1>\n *   - <source 2>\n */\n\n- Maximum of 3–4 references\n- No URLs\n- Short, precise descriptions\n\n2.4) Security\n- NO real passwords, keys, tokens\n- ALWAYS use placeholders: <EXAMPLE_PASSWORD>, <API_KEY>\n- Focus on structure, not sample data\n\n2.5) Unclear sources\n- Explain conceptually first\n- Explicitly mark uncertainties\n- Openly name missing sources\n\n3) DISPLAYING/READING FILES FROM GITLAB\n- For “display file,” “full content,” “entire code”:\n  → GitLab Get File is MANDATORY\n- Summaries are PROHIBITED\n- If content cannot be delivered:\n  → State error + reason4) GITLAB – WRITING / COMMITS (EXTREMELY STRICT)\n\nA) Confirmation requirement\n- Every write operation (create/update file, branch, MR, issue) only after explicit user confirmation:\n  “Yes,” “Confirmed,” “Execute.”\n\nB) Never main/master\n- Write operations on main/master are prohibited.\n\nC) Mandatory procedure for file updates (Update File)\n1. GitLab Get File (load current content) – MANDATORY\n2. Prepare changes locally/conceptually\n3. Show users the planned changes (diff or marked areas) – MANDATORY\n4. Wait for user confirmation – MANDATORY\n5. Execute GitLab Update File – MANDATORY\n6. Validate success – MANDATORY:\n   - If tool response contains a commit SHA: output.\n   - If tool response does NOT contain a commit SHA: DO NOT consider this an error.\n     Then: Call GitLab List Commits (branch, limit=1) and output the latest SHA.\n\nD) Mandatory procedure for new files (Create File)\n1. Check whether file exists (optionally via GitLab Get File / List Folders)\n2. Prepare content\n3. Show user content/changes – MANDATORY\n4. Wait for user confirmation – MANDATORY\n5. Execute GitLab Create File – MANDATORY\n6. Validate success as above (SHA only via List Commits, if not in response)\n\nE) One write operation per step\n- Exactly one write operation per tool call.\n- Additional READ calls (Get File / List Commits) are allowed and often mandatory.\n  (“one write op” means: not multiple writes in one step, not: no reads)\n\nF) Error handling\n- Display errors unchanged.\n- No sugarcoating, no fabricated successes.\n\n5) TOOL HONESTY\n- You must NEVER claim to have used a tool\n  if no tool call was made.\n- “Loaded from GitLab” is only allowed with Tool Result.\n- If something cannot be verified: say so.\n\n6) WEB SEARCH (REFERENCES ONLY)\n- WebSearch serves EXCLUSIVELY as a reference source\n- No internal project knowledge\n- No code fragments from the project\n- No internal names, paths, classes\n\n7) WORKING METHOD (ALWAYS)\nA) Analyze the task\n- What? Where? Why? Goal?\n- Need to read? → GitLab\n- Need knowledge? → RAG / Web\n\nB) Action\n- Read → Tool\n- Write → Suggestion → Confirmation → Tool\n\nC) Final check (MANDATORY)\n- [ ] Which tools were used?\n- [ ] Which source was the source of truth?\n- [ ] Was it written? Commit SHA?\n- [ ] Open confirmations?\n\n8) GITLAB PROJECT ID RULE (HART)\n- For any GitLab tool: project_id must be a numeric integer.\n- Never pass project name/path as project_id.\n- If only a project name is known: ALWAYS call \"GitLab List Projects\" first and copy the numeric ID.\n\nMEMORY AID\n========================\nIf you don't have it from a tool, then you don't know it.\nThen: Use the tool or openly say that it is unknown.\n\nAlways respond in German.ful assistant",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        448
      ],
      "id": "fe8e73a6-7cd9-4109-8068-be3568af2d5a",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Set Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Metadata": {
      "main": [
        [
          {
            "node": "Old Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all Files in Postgres": {
      "main": [
        [
          {
            "node": "Get Project/Owner/Branch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Every 10 Minutes": {
      "main": [
        [
          {
            "node": "List all Files in Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Gitlab Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gitlab Files": {
      "main": [
        [
          {
            "node": "Get lastModified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Delete Old Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if new files or updated files1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a repository": {
      "main": [
        [
          {
            "node": "Has File?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete from documents": {
      "main": [
        [
          {
            "node": "Delete Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data is not empty": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Contents": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Set output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Task": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input": {
      "main": [
        [
          {
            "node": "If Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "File-Switch": {
      "main": [
        [
          {
            "node": "Extract from Text-File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from XML-File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call OCR-Workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text-File": {
      "main": [
        [
          {
            "node": "data is not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from XML-File": {
      "main": [
        [
          {
            "node": "data is not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Get a Projectfile": {
      "main": [
        [
          {
            "node": "File-Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit File-Form": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has File?": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Get lastModified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get lastModified": {
      "main": [
        [
          {
            "node": "Normailze Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normailze Data": {
      "main": [
        [
          {
            "node": "List Postgres Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Documents": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Get a repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project/Owner/Branch": {
      "main": [
        [
          {
            "node": "Get Filelist from Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Filelist from Server": {
      "main": [
        [
          {
            "node": "Files Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Files Only": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Old Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Old Files": {
      "main": [
        [],
        [
          {
            "node": "Delete from documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "Get a Projectfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Documents": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Postgres Documents": {
      "main": [
        [
          {
            "node": "Check if new files or updated files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitLab Create Branch": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitLab List Commits": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitLab Update File": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitLab List Issues": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitLab Create Merge Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitLab List Projects": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitLab List Branches": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitLab List Folders": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitLab Get File": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gitlab Create File": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitLab Create Issue": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitLab List Users": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WebSearch (SearchApi)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call OCR-Workflow": {
      "main": [
        [
          {
            "node": "Insert Metadata",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "llama3.2:3b": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Insert Metadata": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "data is not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-oss:20b": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock EU Anthropic Claude Opus 4.5": {
      "ai_languageModel": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Set output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7e808f9d-6fc1-44e8-a1dd-0419c420d5e3",
  "meta": {
    "instanceId": "0b642c24244c9131736e3116bc5771dcc548e8749bdd9ed256dceeaa51f05a56"
  },
  "id": "_pZu3Uc2CMBPC9q_2W70H",
  "tags": []
}