workflows/OCR_Workflow.json
{
  "name": "OCR-Workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "image_base64",
        "options": {
          "fileName": "={{ $('Set Data').item.json.file_name }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        768,
        176
      ],
      "id": "1c6ce277-77b4-4bec-bb40-eda9556833e2",
      "name": "Convert to File",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c924511e-e51f-4c17-9ff7-a16a4829435a",
              "name": "file_name",
              "value": "={{ Date.now() + '_' + Math.random().toString(36).substr(2, 6) }}",
              "type": "string"
            },
            {
              "id": "90f2b563-d59e-447e-9d04-cac7c2c81a7c",
              "name": "original_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "a4add66b-5046-40c4-8d26-d2563b8e4d7b",
              "name": "image_annotation",
              "value": "={{ $json.image_annotation }}",
              "type": "string"
            },
            {
              "id": "c9ff9dcd-4c57-4e34-873d-ea98f2bfe2cb",
              "name": "image_base64",
              "value": "={{ $('Split Out Images').item.json.image_base64.split(',')[1]; }}",
              "type": "string"
            },
            {
              "id": "4816e9c4-3e84-4b00-86ed-4256243beac6",
              "name": "supabase_bucket_url",
              "value": "=http://minio:9000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        176
      ],
      "id": "fb638f11-d8e7-4d97-931c-e7e6ad1f9533",
      "name": "Set Data",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b2e5abd-8e4e-42b2-bd57-00c5f70ded68",
              "name": "images",
              "value": "={{ $json.images }}",
              "type": "array"
            },
            {
              "id": "ed10912c-7a5d-4ce4-9a34-852ee8027e4f",
              "name": "pages",
              "value": "={{ $('Get OCR Results').item.json.pages }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        176
      ],
      "id": "13cd4bf4-e047-4ed1-a590-3c141e1589a9",
      "name": "Final Set",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "images",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        176
      ],
      "id": "918de90a-571c-4afa-bc7e-7ae9c1e201fe",
      "name": "Split Out Images",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        32,
        192
      ],
      "id": "0f7beba3-e3d0-4992-b5be-ba023a8ab845",
      "name": "Split Out Pages",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        192
      ],
      "id": "066c3784-6eae-4288-bcb4-4da3fefe7e88",
      "name": "Upload Document",
      "retryOnFail": true,
      "credentials": {
        "mistralCloudApi": {
          "id": "2mlO2QqUpCIsxlOB",
          "name": "Mistral Cloud account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        192
      ],
      "id": "481fc4ef-3184-4210-af5a-994e34e47668",
      "name": "Get Signed URL",
      "retryOnFail": true,
      "credentials": {
        "mistralCloudApi": {
          "id": "2mlO2QqUpCIsxlOB",
          "name": "Mistral Cloud account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true,\n  \"bbox_annotation_format\": {\n    \"type\": \"text\",\n    \"json_schema\": {\n      \"name\": \"visual_descriptions_only\",\n      \"description\": \"Erzeuge prägnante, natürlichsprachliche Beschreibungen für jedes einzelne visuelle Element (Bild, Diagramm, Tabelle, Schaubild usw.) auf der Seite. Konzentriere dich darauf, zusammenzufassen, was jedes visuelle Element enthält oder vermittelt.\",\n      \"schema\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\",\n          \"description\": \"Eine prägnante Beschreibung eines einzelnen visuellen Elements.\"\n        }\n      },\n      \"strict\": false\n    }\n  }\n}\n",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        192
      ],
      "id": "1acc85d5-c378-4b5b-8ce0-212adc44e775",
      "name": "Get OCR Results",
      "retryOnFail": true,
      "credentials": {
        "mistralCloudApi": {
          "id": "2mlO2QqUpCIsxlOB",
          "name": "Mistral Cloud account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c924511e-e51f-4c17-9ff7-a16a4829435a",
              "name": "file_name",
              "value": "={{ $('Set Data').item.json.file_name }}",
              "type": "string"
            },
            {
              "id": "90f2b563-d59e-447e-9d04-cac7c2c81a7c",
              "name": "original_id",
              "value": "={{ $('Set Data').item.json.original_id }}",
              "type": "string"
            },
            {
              "id": "a4add66b-5046-40c4-8d26-d2563b8e4d7b",
              "name": "image_annotation",
              "value": "={{ $('Set Data').item.json.image_annotation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        176
      ],
      "id": "68fc8c1d-c66b-4486-b2eb-4e1364708ae5",
      "name": "Set Data again",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1568,
        176
      ],
      "id": "76c8edfa-e19c-4407-8d21-04ea9075a248",
      "name": "Split Out Pages again",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Configuration\nconst SUPABASE_BASE_URL = $('Set Data').first().json.supabase_bucket_url;\n\n// Get data\nconst uploadedImages = $('Final Set').item.json.images || [];\nlet { markdown } = $json;\n\n// Process image replacements\nconst processedMarkdown = uploadedImages.reduce((md, image) => {\n  const { original_id, file_name, image_annotation = '' } = image;\n  const localPattern = `![${original_id}](${original_id})`;\n  const hostedReplacement = `![${original_id}](${SUPABASE_BASE_URL}/${file_name})\\n\\n${image_annotation}`;\n  \n  return md.replaceAll(localPattern, hostedReplacement);\n}, markdown);\n\nreturn {\n  json: {\n    ...$json,\n    markdown: processedMarkdown\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        176
      ],
      "id": "f9f35826-0839-4499-8f70-461890bb726c",
      "name": "Exchange Image URLs",
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "images",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1248,
        176
      ],
      "id": "85ad108a-a21e-43f6-8159-338ea2bc6957",
      "name": "Aggregate1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Bildverarbeitung und Supabase-Upload",
        "height": 592,
        "width": 2528,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "f5414232-8d65-4fac-af4b-3f5932b9516d",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "### Setze hier deine Supabase Bucket URL\n\n\n\n\n\n\n\n\n\n\n\n\nBeispiel: https://supabase.deinedomain.cloud/storage/v1/object/bilder",
        "height": 336,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        80
      ],
      "typeVersion": 1,
      "id": "9feb20af-d59b-40b6-a672-e5e59a88f618",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "788c6a73-aa11-4bb9-ac1c-a4c7cf1bd620",
              "leftValue": "={{ $json.images }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        192
      ],
      "id": "de631c38-ff58-4494-9f1c-9e0fa92a8efe",
      "name": "Contains images?",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        592,
        448
      ],
      "id": "6f677fa6-e113-47bd-9abb-b40598370fa7",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2576,
        432
      ],
      "id": "ce5cb896-45cc-4bd6-be04-30fc84be9e4f",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## Mistral OCR mit Annotation von Bildern",
        "height": 256,
        "width": 496,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        112
      ],
      "typeVersion": 1,
      "id": "826e7c6f-2101-4226-8e64-cc0dfb8b7acd",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1008,
        688
      ],
      "id": "c63a4184-2c1e-438e-bb14-0d3fa4efed38",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (const item of items) {\n  if (item.binary?.data) {\n    // Dateiname setzen (aus title, falls vorhanden)\n    item.binary.data.fileName = item.json?.title || 'document.pdf';\n\n    // MimeType sicherstellen\n    item.binary.data.mimeType = item.binary.data.mimeType || 'application/pdf';\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        192
      ],
      "id": "1cbac272-cd03-43a6-a67b-d6ed317b4bfa",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/docling/{{ $json.images }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        752,
        688
      ],
      "id": "1417fc2b-e545-4dec-a2ef-a11210fe3dbf",
      "name": "Read extracted images from disk"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "n8n",
        "fileName": "={{ $json.fileName }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1024,
        688
      ],
      "id": "b607bfff-3ffa-4fa8-8228-7784f2948c6f",
      "name": "Upload to MinIO",
      "credentials": {
        "s3": {
          "id": "Y4k9VcIM7BOTzmf6",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const scanItems = $(\"Get Scan-Result\").all();\nconst urlItems = $input.all(); // enthält url + image_base64\n\n// filename -> { url, image_base64 }\nconst imageMap = new Map();\n\nfor (const item of urlItems) {\n  const rawUrl = item.json?.url;\n  if (!rawUrl) continue;\n\n  const clean = String(rawUrl).split(\"?\")[0];\n  const filename = decodeURIComponent(clean.split(\"/\").pop() || \"\");\n  if (!filename) continue;\n\n  imageMap.set(filename, {\n    url: rawUrl,\n    image_base64: item.json?.image_base64 ?? null,\n  });\n}\n\nfunction getFilenameFromUrl(url) {\n  try {\n    const clean = String(url).split(\"?\")[0];\n    return decodeURIComponent(clean.split(\"/\").pop() || \"\");\n  } catch {\n    return \"\";\n  }\n}\n\n/**\n * Annotation-Erkennung:\n * - akzeptiert mehrere Satzanfänge\n * - sucht zuerst VOR dem Bild, dann NACH dem Bild\n */\nfunction extractAnnotation(lines, imageLineIndex) {\n  const isAnnotationStart = (line) =>\n    /^(Das Bild\\s+(beschreibt|zeigt|stellt|enthält)\\b|This image\\b)/i.test(line.trim());\n\n  const isNoise = (line) => {\n    const t = line.trim().toLowerCase();\n    return (\n      t === \"\" ||\n      t === \"bar chart\" ||\n      t === \"screenshot\" ||\n      t === \"photo\" ||\n      t === \"image\"\n    );\n  };\n\n  // ---- 1) BACKWARD SEARCH (max 40 lines) ----\n  for (let j = imageLineIndex - 1; j >= 0 && j >= imageLineIndex - 40; j--) {\n    const line = lines[j].trim();\n    if (!line) continue;\n    if (isNoise(line)) continue;\n\n    if (isAnnotationStart(line)) {\n      const collected = [];\n      for (let k = j; k < lines.length; k++) {\n        const cur = lines[k].trim();\n        if (!cur) break;\n        if (cur.startsWith(\"![\") && cur.includes(\"](\")) break;\n        collected.push(cur);\n      }\n      return collected.join(\" \").replace(/\\s+/g, \" \").trim();\n    }\n  }\n\n  // ---- 2) FORWARD SEARCH (max 40 lines) ----\n  for (let j = imageLineIndex + 1; j < lines.length && j <= imageLineIndex + 40; j++) {\n    const line = lines[j].trim();\n    if (!line) continue;\n    if (isNoise(line)) continue;\n\n    if (isAnnotationStart(line)) {\n      const collected = [];\n      for (let k = j; k < lines.length; k++) {\n        const cur = lines[k].trim();\n        if (!cur) break;\n        if (cur.startsWith(\"![\") && cur.includes(\"](\")) break;\n        collected.push(cur);\n      }\n      return collected.join(\" \").replace(/\\s+/g, \" \").trim();\n    }\n  }\n\n  return \"\";\n}\n\n// --------------------------------------------\n// 1) Markdown aus allen Scan-Items zusammenführen\n// --------------------------------------------\nconst allMarkdownParts = [];\n\nfor (const item of scanItems) {\n  const doc = item.json?.document ?? {};\n  const md = String(doc.md_content ?? \"\");\n  allMarkdownParts.push(md);\n}\n\nlet combinedMarkdown = allMarkdownParts.join(\"\\n\\n---\\n\\n\");\n\n// --------------------------------------------\n// 2) Signed URLs im Markdown ersetzen\n// --------------------------------------------\ncombinedMarkdown = combinedMarkdown.replace(/!\\[([^\\]]*)\\]\\(([^)]+)\\)/g, (full, alt, target) => {\n  const t = String(target).trim();\n\n  // wenn schon URL oder data: -> unverändert\n  if (/^(https?:\\/\\/|s3:\\/\\/|data:|file:|\\/)/i.test(t)) return full;\n\n  // nur Bilddateien ersetzen\n  if (!/\\.(png|jpe?g|gif|webp|svg)$/i.test(t)) return full;\n\n  const filename = decodeURIComponent((t.split(\"/\").pop() || \"\").trim());\n  const entry = imageMap.get(filename);\n  if (!entry?.url) return full;\n\n  return `![${alt}](${entry.url})`;\n});\n\n// --------------------------------------------\n// 3) Bilder + Annotationen extrahieren\n// --------------------------------------------\nconst lines = combinedMarkdown.split(/\\r?\\n/);\n\nconst images = [];\nconst seen = new Set();\n\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i];\n  const match = line.match(/!\\[[^\\]]*]\\(([^)]+)\\)/);\n  if (!match) continue;\n\n  const url = match[1];\n  const filename = getFilenameFromUrl(url);\n  if (!filename) continue;\n\n  const id = filename; // Bild-ID = Dateiname\n  if (seen.has(id)) continue;\n  seen.add(id);\n\n  const annotation = extractAnnotation(lines, i);\n  const mapped = imageMap.get(filename);\n\n  images.push({\n    id,\n    image_annotation: annotation || \"\",\n    image_base64: mapped?.image_base64 ?? null,\n  });\n}\n\n// --------------------------------------------\n// 4) Finale Ausgabe (n8n kompatibel!)\n// --------------------------------------------\nreturn [\n  {\n    json: {\n      index: 0,\n      markdown: combinedMarkdown,\n      images,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        704
      ],
      "id": "20dd1fcb-a3a5-4a90-8f72-b3376ea80c4b",
      "name": "Replace Image-References"
    },
    {
      "parameters": {
        "content": "## Docling OCR mit Annotation von Bildern",
        "height": 592,
        "width": 800,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        416
      ],
      "typeVersion": 1,
      "id": "e7c53bd3-df17-40c0-b5f1-c79aaf9c39fc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Upload nach MinIO S3 Bucket",
        "height": 560,
        "width": 1152,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        608
      ],
      "typeVersion": 1,
      "id": "31a238a5-a7e6-43be-8fab-25054b91bad5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://docling:5001/v1/convert/file/async",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "name": "image_export_mode",
              "value": "referenced"
            },
            {
              "name": "do_picture_classification",
              "value": "true"
            },
            {
              "name": "do_picture_description",
              "value": "true"
            },
            {
              "name": "picture_description_api",
              "value": "{\n   \"url\": \"http://minio:11434\",\n   \"params\": {\n   \"model\": \"llava:7b\",\n   \"temperature\": 0,\n   \"stream\": false,\n   \"max_tokens\": 250\n   },\n   \"prompt\":\n   \"Beschreibe das Bild in 2-3 klaren Sätzen.\",\n   \"timeout\": 3600\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -752,
        688
      ],
      "id": "a323fdce-b16f-49c3-8284-dcc783b9889e",
      "name": "Scan by Docling"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.task_status }}",
                    "rightValue": "failure",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cc3fd5be-848f-4a00-a00d-741d0c08203a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failure"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1a08da60-850a-4ad0-a69e-ddd5da73cb03",
                    "leftValue": "={{ $json.task_status }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -560,
        672
      ],
      "id": "2fe675e6-47fc-4ad4-b162-5bfaff0914e2",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=http://docling:5001/v1/status/poll/{{ $json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        800
      ],
      "id": "29c8a6cc-2638-415d-ac5e-0e1052d77e3c",
      "name": "Poll Task"
    },
    {
      "parameters": {
        "url": "=http://docling:5001/v1/result/{{ $json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        640
      ],
      "id": "0d3d458a-6902-4ac3-83da-78e1a69ff1b4",
      "name": "Get Scan-Result"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'images' to the JSON of each one\nfor (const item of $input.all()) {\n  const md = item.json.document?.md_content || '';\n  \n  // Regex für Markdown-Images: ![Alt](dateiname.png)\n  const regex = /!\\[[^\\]]*\\]\\(([^)]+)\\)/g;\n  const images = [];\n  let match;\n\n  while ((match = regex.exec(md)) !== null) {\n    images.push(match[1]);\n  }\n\n  // Neues Feld setzen\n  item.json.images = images;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        672
      ],
      "id": "763ce061-7c69-4689-9c44-dfdd35fa99fd",
      "name": "Extract List of Images"
    },
    {
      "parameters": {
        "fieldToSplitOut": "images",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        688
      ],
      "id": "b924d8d9-627c-42bb-9016-b0bcc9921508",
      "name": "Get Image-Names"
    },
    {
      "parameters": {
        "useJson": true,
        "claimsJson": "={\n  \"bucket\": \"n8n\",\n  \"object\": \"{{ $('Read extracted images from disk').item.json.fileName }}\",\n  \"iss\": \"n8n-fileservice\",\n  \"exp\": {{$now.plus(365, 'days').toSeconds()}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        1568,
        672
      ],
      "id": "0c369418-30da-401e-abd3-dab8030ff0d4",
      "name": "JWT",
      "credentials": {
        "jwtAuth": {
          "id": "GWri5NTG2EmkRR9m",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcb91c13-428a-498b-8e0a-41fd4877d447",
              "name": "url",
              "value": "=https://s3.ai-lab.raspilab.de/n8n/{{ $('Read extracted images from disk').item.json.fileName }}?token={{ $json.token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        672
      ],
      "id": "45978ce5-9e9b-4f71-b396-8ea27c6694e1",
      "name": "Build Signed URLs"
    },
    {
      "parameters": {
        "content": "## Bild-Referenzen im Markdown durch signierte URLs ersetzen",
        "height": 560,
        "width": 1104,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        608
      ],
      "typeVersion": 1,
      "id": "a4183cd9-c5a8-4613-a29e-133e604f05bd",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        688
      ],
      "id": "ed36032f-ebe6-4d36-a7d2-5238806ab954",
      "name": "Wait 20s",
      "webhookId": "98583a5a-6360-4f1e-81a8-acfd9aad2d0b"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -336,
        800
      ],
      "id": "b385536f-1fd3-4da8-b850-5b179267329f",
      "name": "Wait 30s",
      "webhookId": "03dd7a06-d09b-4ea9-bbbd-f92b76b049b0"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "n8n",
        "fileName": "=$('Set Data').item.json.file_name",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        944,
        176
      ],
      "id": "64144aa9-26cc-4176-9b13-297bf55984aa",
      "name": "Upload to MinIO1",
      "credentials": {
        "s3": {
          "id": "Y4k9VcIM7BOTzmf6",
          "name": "S3 account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "image_base64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1744,
        1008
      ],
      "id": "eaa96f70-67e3-4ec9-b1cf-f1a034a81fb7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1952,
        704
      ],
      "id": "11cdd172-7b5f-45af-80db-7f69cb36b3ef",
      "name": "Combine URLs & Base64 Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "788c6a73-aa11-4bb9-ac1c-a4c7cf1bd620",
              "leftValue": "={{ $json.images }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        672
      ],
      "id": "94df449c-e10c-4b07-8329-368195d8cde0",
      "name": "Contains no images?"
    },
    {
      "parameters": {
        "url": "=http://docling:5001/v1/result/{{ $json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        448
      ],
      "id": "717c57c0-1338-430d-ae1e-6a4588c2ce04",
      "name": "Get Failure-Result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b15218c5-22f2-4c42-9fb3-37145ed57092",
              "leftValue": "={{ $json['signed URLs'] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1360,
        688
      ],
      "id": "9b3ac181-855b-4260-873e-fc949549c274",
      "name": "Use signed URLs?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1024,
        1008
      ],
      "id": "2b434265-cfdf-4f84-9b2b-39baab22fc56",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcb91c13-428a-498b-8e0a-41fd4877d447",
              "name": "url",
              "value": "=https://s3.ai-lab.raspilab.de/n8n/{{ $('Read extracted images from disk').item.json.fileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        848
      ],
      "id": "92a0b6bd-dd79-4d83-b1ee-7d8ff25a3379",
      "name": "Build unsigned URLs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52b7ca70-30e2-4e91-8a37-0b359058fe07",
              "name": "signed URLs",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        688
      ],
      "id": "af532791-45a6-44f5-a207-09ee3489aab6",
      "name": "Enable signed URLs"
    }
  ],
  "pinData": {},
  "connections": {
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload to MinIO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Set": {
      "main": [
        [
          {
            "node": "Split Out Pages again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Images": {
      "main": [
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Pages": {
      "main": [
        [
          {
            "node": "Contains images?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Document": {
      "main": [
        [
          {
            "node": "Get Signed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Signed URL": {
      "main": [
        [
          {
            "node": "Get OCR Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OCR Results": {
      "main": [
        [
          {
            "node": "Split Out Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data again": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Pages again": {
      "main": [
        [
          {
            "node": "Exchange Image URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exchange Image URLs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Final Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contains images?": {
      "main": [
        [
          {
            "node": "Split Out Images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Scan by Docling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Upload Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read extracted images from disk": {
      "main": [
        [
          {
            "node": "Upload to MinIO",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to MinIO": {
      "main": [
        [
          {
            "node": "Enable signed URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Image-References": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Scan by Docling": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Failure-Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Scan-Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Task": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scan-Result": {
      "main": [
        [
          {
            "node": "Extract List of Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract List of Images": {
      "main": [
        [
          {
            "node": "Contains no images?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image-Names": {
      "main": [
        [
          {
            "node": "Read extracted images from disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT": {
      "main": [
        [
          {
            "node": "Build Signed URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20s": {
      "main": [
        [
          {
            "node": "Get Image-Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Poll Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to MinIO1": {
      "main": [
        [
          {
            "node": "Set Data again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Combine URLs & Base64 Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine URLs & Base64 Data": {
      "main": [
        [
          {
            "node": "Replace Image-References",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contains no images?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 20s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Failure-Result": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Signed URLs": {
      "main": [
        [
          {
            "node": "Combine URLs & Base64 Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use signed URLs?": {
      "main": [
        [
          {
            "node": "JWT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build unsigned URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build unsigned URLs": {
      "main": [
        [
          {
            "node": "Combine URLs & Base64 Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enable signed URLs": {
      "main": [
        [
          {
            "node": "Use signed URLs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2ba7eaa7-08f3-43f0-957d-60ec548aaca0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c715e088440d40221edbeca8c7cc5a511019c803826b88074d6ddffa66f0bab"
  },
  "id": "LFr4Vh2SeGUGZifnSEQVy",
  "tags": []
}